Problem

## Halloween is a night of costumes, fun, and candy that takes place every year on October 31. On this day people dress up in various costumes that have a scary overtone and go trick-or-treating to gather candy.

### This year, on Halloween, there is a carnival in your neighborhood. Besides the various games, there are also 50 stalls that are selling various products, which fall under various categories.

### Your task is to predict the selling price of the products based on the provided features.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split,cross_val_score,cross_val_predict
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor,RandomForestRegressor
from sklearn.metrics import confusion_matrix,mean_absolute_error,mean_squared_error,mean_squared_log_error,r2_score
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Model,Sequential

In [3]:
train_data=pd.read_csv("/Users/chohan/Desktop/ML_DL_ Hackathon/HackerEarth Machine Learning Challenge Carnival Wars/dataset/train.csv",delimiter=",")

In [4]:
train_data.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        6368 non-null   object
 1   Stall_no          6363 non-null   float64
 2   instock_date      6368 non-null   object
 3   Market_Category   6368 non-null   int64
 4   Customer_name     6157 non-null   object
 5   Loyalty_customer  6368 non-null   object
 6   Product_Category  6368 non-null   object
 7   Grade             6368 non-null   int64
 8   Demand            6368 non-null   int64
 9   Discount_avail    6330 non-null   float64
 10  charges_1         6170 non-null   float64
 11  charges_2 (%)     6163 non-null   float64
 12  Minimum_price     6330 non-null   float64
 13  Maximum_price     6025 non-null   float64
 14  Selling_Price     6327 non-null   float64
dtypes: float64(7), int64(3), object(5)
memory usage: 746.4+ KB

In [6]:
train_data.describe()

,Stall_no,Market_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
count,6363.000000,6368.000000,6368.000000,6368.000000,6330.000000,6170.000000,6163.000000,6330.000000,6025.000000,6327.000000
mean,25.309445,199.340609,0.643687,50.921168,0.140442,264.514100,10.146195,3531.349763,6432.545892,4563.242592
std,14.328980,170.275570,1.025092,29.091922,0.347473,124.483056,4.318339,2194.729604,3716.177364,2979.102408
min,1.000000,0.000000,0.000000,1.000000,0.000000,100.000000,1.000000,1.000000,404.000000,-6062.470000
25%,13.000000,55.000000,0.000000,26.000000,0.000000,163.000000,7.000000,1879.250000,3918.000000,2450.005280
50%,25.000000,132.000000,0.000000,51.000000,0.000000,252.000000,10.000000,3157.500000,5634.000000,4210.384640
75%,37.000000,403.000000,2.000000,76.000000,0.000000,314.000000,14.000000,4697.000000,8126.000000,6167.643252
max,50.000000,471.000000,3.000000,100.000000,1.000000,649.000000,17.000000,17580.000000,58812.000000,22638.325941

In [7]:
train_data.isnull().sum()

Product_id            0
Stall_no              5
instock_date          0
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [8]:
train_data.columns

Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Customer_name', 'Loyalty_customer', 'Product_Category', 'Grade',
       'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price', 'Selling_Price'],
      dtype='object')

In [9]:
train_data.dtypes

Product_id           object
Stall_no            float64
instock_date         object
Market_Category       int64
Customer_name        object
Loyalty_customer     object
Product_Category     object
Grade                 int64
Demand                int64
Discount_avail      float64
charges_1           float64
charges_2 (%)       float64
Minimum_price       float64
Maximum_price       float64
Selling_Price       float64
dtype: object

In [10]:
train_data=train_data.dropna()

In [11]:
train_data.shape

(5397, 15)

In [12]:
train_data.isna().sum()

Product_id          0
Stall_no            0
instock_date        0
Market_Category     0
Customer_name       0
Loyalty_customer    0
Product_Category    0
Grade               0
Demand              0
Discount_avail      0
charges_1           0
charges_2 (%)       0
Minimum_price       0
Maximum_price       0
Selling_Price       0
dtype: int64

In [13]:
train_data=train_data.drop("instock_date",axis=1)

In [14]:
train_data=train_data.drop("Customer_name",axis=1)

In [15]:
train_data=train_data.drop("Product_id",axis=1)

In [16]:
train_data["Product_Category"].unique()

array(['Fashion', 'Child_care', 'Educational', 'Repair', 'Technology',
       'Cosmetics', 'Hospitality', 'Organic', 'Pet_care', 'Home_decor'],
      dtype=object)

In [17]:
train_data["Loyalty_customer"].unique()

array(['Yes', 'No '], dtype=object)

In [18]:
sc=LabelEncoder()

In [19]:
loyality_customer=sc.fit_transform(train_data["Loyalty_customer"])
product_category=sc.fit_transform(train_data["Product_Category"])

In [20]:
train_data["Loyalty_customer"]=loyality_customer
train_data["Product_Category"]=product_category

In [21]:
train_data.head(5)

,Stall_no,Market_Category,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,37.0,2,1,3,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,38.0,24,1,3,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,9.0,447,1,0,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,50.0,23,1,2,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,7.0,63,1,8,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [22]:
train_data.tail(5)

,Stall_no,Market_Category,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
6363,17.0,24,1,9,0,47,0.0,614.0,10.0,8174.0,11266.0,10277.520192
6364,21.0,55,1,0,0,35,0.0,269.0,5.0,3564.0,4920.0,4501.837200
6365,36.0,358,0,8,3,29,0.0,283.0,3.0,5303.0,14614.0,10218.878775
6366,27.0,452,1,8,0,8,0.0,267.0,3.0,4334.0,5849.0,5359.493997
6367,11.0,58,1,9,0,94,0.0,614.0,7.0,3975.0,5383.0,5220.013568

In [23]:
X=train_data.iloc[0:,:11]

In [24]:
Y=train_data.iloc[:,-1]

In [25]:
stand_scale=StandardScaler()

In [26]:
X_scaled=stand_scale.fit_transform(X)

In [27]:
X_scaled

array([[ 0.81844399, -1.14451478,  0.80525913, ...,  0.19155599,
        -0.25424681, -0.47260904],
       [ 0.88824271, -1.01428488,  0.80525913, ...,  0.42294087,
         1.78586158,  1.02650052],
       [-1.13592018,  1.48968095,  0.80525913, ..., -0.27121378,
         0.9977612 ,  0.217529  ],
       ...,
       [ 0.74864527,  0.9628418 , -1.24183627, ..., -1.65952307,
         0.79474509,  2.15953916],
       [ 0.12045679,  1.51927865,  0.80525913, ..., -1.65952307,
         0.35661011, -0.17060718],
       [-0.99632274, -0.81302049,  0.80525913, ..., -0.73398354,
         0.19428766, -0.29449175]])

In [28]:
x_train,x_test,y_train,y_test=train_test_split(X_scaled,Y,test_size=0.20, random_state=42,shuffle=True)

In [29]:
x_train,x_val,y_train,y_val=train_test_split(X_scaled,Y,test_size=0.30, random_state=42,shuffle=True)

In [30]:
print(x_train.shape,len(x_train))
print(x_test.shape,len(x_test))
print(y_train.shape,len(y_train))
print(y_test.shape,len(y_test))
print(x_val.shape,len(x_val))
print(y_val.shape,len(y_val))

(3777, 11) 3777
(1080, 11) 1080
(3777,) 3777
(1080,) 1080
(1620, 11) 1620
(1620,) 1620

In [31]:
model1=LinearRegression()

In [32]:
model1.fit(x_train,y_train)

LinearRegression()

In [33]:
predict_1=model1.predict(x_test)

In [34]:
model2=DecisionTreeRegressor()

In [35]:
model2.fit(x_train,y_train)

DecisionTreeRegressor()

In [36]:
predict_2=model2.predict(x_test)

In [37]:
model3=GradientBoostingRegressor()

In [38]:
model3.fit(x_train,y_train)

GradientBoostingRegressor()

In [39]:
predict_3=model3.predict(x_test)

In [40]:
model4=RandomForestRegressor()

In [41]:
model4.fit(x_train,y_train)

RandomForestRegressor()

In [42]:
predict_4=model4.predict(x_test)

In [43]:
print(mean_squared_error(y_test,predict_1))
print(mean_absolute_error(y_test,predict_1))
print(r2_score(y_test,predict_1))
print(model1.score(x_train,y_train)*100)
print(model1.score(x_test,y_test)*100)

682793.6510454812
453.50884356884546
0.9208905989781019
89.84150367900699
92.08905989781019

In [44]:
print(mean_squared_error(y_test,predict_2))
print(mean_absolute_error(y_test,predict_2))
print(r2_score(y_test,predict_2)*100)
print(model2.score(x_train,y_train)*100)
print(model2.score(x_test,y_test)*100)

417454.4700008781
157.07293497069443
95.16331573600358
100.0
95.16331573600358

In [45]:
print(mean_squared_error(y_test,predict_3))
print(mean_absolute_error(y_test,predict_3))
print(r2_score(y_test,predict_3)*100)
print(model3.score(x_train,y_train)*100)
print(model3.score(x_test,y_test)*100)

188246.60683703586
136.0557558116968
97.81894921130562
98.7948196204171
97.81894921130562

In [46]:
print(mean_squared_error(y_test,predict_4))
print(mean_absolute_error(y_test,predict_4))
print(r2_score(y_test,predict_4)*100)
print(model4.score(x_train,y_train)*100)
print(model4.score(x_test,y_test)*100)

175461.55459014143
96.6219260785968
97.96707856542847
99.68532880106092
97.96707856542847

In [112]:
# save the model to disk
import pickle
filename1 = 'model1.h5'
pickle.dump(model1, open(filename1, 'wb'))

In [113]:
filename2 = 'model2.h5'
pickle.dump(model2, open(filename2, 'wb'))

In [114]:
filename3 = 'model3.h5'
pickle.dump(model3, open(filename3, 'wb'))

In [115]:
filename4 = 'model4.h5'
pickle.dump(model4, open(filename4, 'wb'))

In [117]:
# loaded_model = pickle.load(open(filename2, 'rb'))
# result = loaded_model.score(x_test,y_test)
# print(result)

0.9516331573600358

In [70]:
# test_data=pd.read_csv("/Users/chohan/Desktop/ML_DL_ Hackathon/HackerEarth Machine Learning Challenge Carnival Wars/dataset/test.csv",delimiter=",")

In [72]:
# test_data.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price
0,SCHE4YSTDVPVZVXW,39.0,2016-01-13 07:45:08.000,205,Ivanka,No,Fashion,0,90,0,380.0,16.0,2576.0,3340
1,ACCEGCATKHNRXUHW,49.0,2015-08-23 20:37:05.000,3,Isaak,Yes,Fashion,0,87,0,393.0,16.0,1202.0,1955
2,NKCE6GJ5XVJDXNNZ,1.0,2015-11-14 18:12:39.000,183,Analiese,No,Technology,2,55,0,493.0,9.0,7175.0,15715
3,NKCEB8BK3ZXDHDHM,8.0,2015-11-21 04:56:19.000,358,Rusty,Yes,Child_care,3,86,0,303.0,16.0,5404.0,13078
4,TOPEFDXSAHRNPF94,33.0,2015-05-06 15:09:46.000,167,Eloise,No,Technology,0,27,0,567.0,16.0,4069.0,6244

In [73]:
# test_data=test_data.fillna(0)

In [74]:
# test_data.isna().sum()

Product_id          0
Stall_no            0
instock_date        0
Market_Category     0
Customer_name       0
Loyalty_customer    0
Product_Category    0
Grade               0
Demand              0
Discount_avail      0
charges_1           0
charges_2 (%)       0
Minimum_price       0
Maximum_price       0
dtype: int64

In [75]:
# test_data.shape

(3430, 14)

In [49]:
# test_data=test_data.dropna()

In [76]:
# product_id=test_data["Product_id"]

In [77]:
# test_data.columns

Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Customer_name', 'Loyalty_customer', 'Product_Category', 'Grade',
       'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price'],
      dtype='object')

In [78]:
# test_data=test_data.drop(["Product_id","instock_date","Customer_name"],axis=1)

In [79]:
# test_data.head()

In [80]:
# test_data.isna().sum()

In [81]:
# sc=LabelEncoder()
# loyality_customer=sc.fit_transform(test_data["Loyalty_customer"])
# product_category=sc.fit_transform(test_data["Product_Category"])
# test_data["Loyalty_customer"]=loyality_customer
# test_data["Product_Category"]=product_category

In [82]:
# test_sc=StandardScaler()
# test_scaled=test_sc.fit_transform(test_data)
# test_scaled.shape

(3430, 11)

In [88]:
# predict1=model1.predict(test_scaled)

In [91]:
# result=pd.DataFrame({"Product_id":product_id,"Selling_Price":predict1})

In [93]:
# result["Selling_Price"]=result["Selling_Price"].apply(abs)

In [95]:
# result

            Product_id  Selling_Price
0     SCHE4YSTDVPVZVXW    3655.766416
1     ACCEGCATKHNRXUHW    2372.006748
2     NKCE6GJ5XVJDXNNZ   11413.441798
3     NKCEB8BK3ZXDHDHM    9264.991600
4     TOPEFDXSAHRNPF94    5780.422229
...                ...            ...
3425  BBAE9K7BXFUTDNBK    4217.560183
3426  RTRDYPA4PJHCJCGF    8908.430466
3427  TUNE8FWQBS7TVVT7    5807.156181
3428  NKCEGMUABCRGUZPE    3868.911799
3429  RNGE7M92KAQWUBCS    2228.429632

[3430 rows x 2 columns]

In [97]:
# result.to_csv("Result1.csv")

In [103]:
# predict2=model2.predict(test_scaled)
# result=pd.DataFrame({"Product_id":product_id,"Selling_Price":predict2})
# result["Selling_Price"]=result["Selling_Price"].apply(abs)
# result.to_csv("Result2.csv")

In [104]:
# predict3=model3.predict(test_scaled)
# result=pd.DataFrame({"Product_id":product_id,"Selling_Price":predict3})
# result["Selling_Price"]=result["Selling_Price"].apply(abs)
# result.to_csv("Result3.csv")

In [105]:
# predict4=model4.predict(test_scaled)
# result=pd.DataFrame({"Product_id":product_id,"Selling_Price":predict4})
# result["Selling_Price"]=result["Selling_Price"].apply(abs)
# result.to_csv("Result4.csv")